[defaults]
_extra_tasks = [
  # NOTE: also update no_cli below

  # init
  "git init",  # required to run uv
  "VIRTUAL_ENV='' uv run just init",

  # check code with non-editing tasks
  "VIRTUAL_ENV='' uv run just lint test release 1.0.0",
  "VIRTUAL_ENV='' uv run just _assert_clean_repo",
  "VIRTUAL_ENV='' uv run dmypy stop",
  "VIRTUAL_ENV='' uv run just test-lowest 3.14",
  "VIRTUAL_ENV='' uv run just build-docs",
  "VIRTUAL_ENV='' uv run just deps-audit",

  # check the editing tasks
  "VIRTUAL_ENV='' uv run just quick-tools",
  "VIRTUAL_ENV='' uv run just format",
  "VIRTUAL_ENV='' uv run just _assert_clean_repo",

  # check repo for following good practices
  "uvx --with sp-repo-review[cli] repo-review . --ignore PY007,RTD,PC191,PP301 --show errskip",
  # PY007 : Supports an easy task runner (nox, tox, pixi, etc.) : we use just
  "[ -f justfile ]",
  # RTD : ReadTheDocs : checked in the docs section
  # PC191 : Ruff show fixes if fixes enabled : false-positive on ruff-isort
  # PP301 : temporary! remove when it supports the new tool.pytest config

  # show outdated deps
  "VIRTUAL_ENV='' uv run just deps-list-outdated",
]
user_name = "Marty McFly"
user_email = "marty.mcfly@example.com"
github_user = "marty-mcfly"
project_name = "delorian-car"
package_name = "delorian_car"
package_description = "A car that flies."
license = "MIT"
year = 2015
get_package_version_from_vcs = false
cli_framework = "none"
in_pypi = false
in_rtd = false
in_codecov = false
jupyter_files = "forbid"
format_tool = "black"

[output.".ctt/bare"]
jupyter_files = "forbid"

[output.".ctt/docs"]
in_pypi = true
in_rtd = true
in_codecov = true
cli_framework = "cyclopts"
_extra_tasks = [
  "git init",  # required to run uv
  "VIRTUAL_ENV='' uv run just init",
  "VIRTUAL_ENV='' uv run just build-docs",
  "uvx --with sp-repo-review[cli] repo-review . --select RTD --show errskip",
  "VIRTUAL_ENV='' uv run just print-cli-help",
]

[output.".ctt/cli_c_vcs"]
get_package_version_from_vcs = true
cli_framework = "cyclopts"
in_pypi = true
in_rtd = true
in_codecov = true
jupyter_files = "strip_outputs"

[output.".ctt/cli_c_no_vcs"]
get_package_version_from_vcs = false
cli_framework = "cyclopts"
in_pypi = true
in_rtd = true
in_codecov = true
jupyter_files = "ignore"

[output.".ctt/cli_t_vcs"]
get_package_version_from_vcs = true
cli_framework = "typer"
in_pypi = true
in_rtd = true
in_codecov = true
jupyter_files = "strip_outputs"

[output.".ctt/cli_t_no_vcs"]
get_package_version_from_vcs = false
cli_framework = "typer"
in_pypi = true
in_rtd = true
in_codecov = true
jupyter_files = "ignore"

[output.".ctt/python3.14"]
python_min = 14
jupyter_files = "allow"
format_tool = "ruff"
