from typer.testing import CliRunner

from {{package_name}} import __version__
from {{package_name}}.cli import app

runner = CliRunner()


def test_app():
    result = runner.invoke(app, ["load"])
    assert result.exit_code == 0
    assert "Loading" in result.stdout

    result = runner.invoke(app, ["shoot"])
    assert result.exit_code == 0
    assert "Shooting" in result.stdout

    result = runner.invoke(app, ["--version"])
    assert result.exit_code == 0
    assert __version__ in result.stdout

    result = runner.invoke(app, [])
    assert result.exit_code == 2
