"""{{ project_name }}: {{ package_description }}.

Copyright (c) {{ year }} {{ name }}. All rights reserved.
"""

{% if vcs_version -%}
from ._version import version as _version

__version__ = _version
{%- else -%}
__version__ = "0.1.0+dev"
{%- endif %}

__all__: list[str] = []
