"""{{ project_name }}: {{ package_description }}.

Copyright (c) {{ year }} {{ full_name }}. All rights reserved.
"""

{% if get_package_version_from_vcs -%}
from ._version import version as _version

__version__ = _version
{%- else -%}
__version__ = "0.1.0+dev"
{%- endif %}

__all__: list[str] = []
