"""{{ project_name }}: {{ package_description }}

use `python -m {{ package_name }}` to run the cli
"""
{% if cli_framework == 'cyclopts' %}
from .cli import main

main()
{%- else %}
from .cli import app

app(prog_name="{{ project_name }}")
{%- endif %}
