"""{{ project_name }}: {{ package_description }}

use `python -m {{ package_name }}` to run the cli
"""

from .cli import app

app({% if cli_framework == 'typer' %}prog_name="{{ project_name }}"{% endif %})
