"""CLI for {{package_name}}.

Currently, a placeholder until the real CLI will be added.
"""

from typing import Annotated

import typer
from click.exceptions import UsageError

from . import __version__

app = typer.Typer()


def version_callback(value: bool) -> None:
    if value:
        print(f"{{project_name}} {__version__}")
        raise typer.Exit(0)


@app.callback(invoke_without_command=True)
def callback(
    ctx: typer.Context,
    *,
    version: Annotated[bool, typer.Option(callback=version_callback)] = False,
) -> None:
    """Awesome Portal Gun."""
    if ctx.invoked_subcommand is None:
        raise UsageError("Missing command.")  # noqa: TRY003


@app.command()
def shoot() -> None:
    """Shoot the portal gun."""
    print("Shooting portal gun")


@app.command()
def load() -> None:
    """Load the portal gun."""
    print("Loading portal gun")
