#!/usr/bin/env bash
set -ex

# git init & initial commit
git init
git add --all
git reset init.sh
git commit -m "initial commit"

# install venv
uv python pin python3.{{python_minor}}
uv sync
git add uv.lock .python-version
git commit -m "chore: uv sync"

# pre-commit update
uv run pre-commit autoupdate -j "$(nproc)"
git add .pre-commit-config.yaml
git commit -m "chore: pre-commit update" --allow-empty

# pre-commit install
uv run pre-commit install
uv run pre-commit run --all-files

echo "use 'gh repo create' to set this repo on GitHub"
echo "use 'ln -s ~/code_TODOs/{{project_name}}.md ~/code/{{project_name}}/TODO.md' to create a TODO file"
rm init.sh
