default:
  @just --list

init:
  git init
  @just update
  @just prepare
  @just check

update:
  uv sync --upgrade
  uv run pre-commit autoupdate -j "$(nproc)"

prepare:
  uv run pre-commit install

check:
  uv run pre-commit run --all-files
  uv run mypy
  uv run pytest

format:
  {%- if format_tool == "black" %}
  uv run black .
  {%- elif format_tool == "ruff" %}
  uv run ruff format
  {%- endif %}

lint:
  uv run codespell
  uv run ruff check
  uv run mypy

test:
  uv run pytest
