site_name: {{ project_name }}
site_description: {{ package_description }}

theme:
  name: material
  # https://squidfunk.github.io/mkdocs-material/setup/

plugins:
  - search

nav:
  - Home: index.md

markdown_extensions:
  # TODO: choose relevant options
  # https://python-markdown.github.io/extensions/
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/
  # - admonition
  # https://facelessuser.github.io/pymdown-extensions/extensions
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/
  # - pymdownx.highlight
  # - pymdownx.superfences
  # https://oprypin.github.io/markdown-callouts/
  # - callouts
