[project]
dynamic = ["version"]
name = "{{project_name}}"
description = "{{package_description}}"
license.text = "{{license}}"
readme = "README.md"
requires-python = ">=3.{{python_minor}}"
authors = [
  {name = "{{name}}", email = "{{email}}"}
]
maintainers = []
keywords = []
classifiers = ["Private :: Do Not Upload"]
# urls.homepage = "https://example.com"
# urls.documentation = "https://readthedocs.org"
urls.repository = "https://github.com/{{username}}/{{project_name}}"
# urls.changelog = "https://github.com/{{username}}/{{project_name}}/blob/master/CHANGELOG.md"

dependencies = [
  # "loguru >=0.7.0",
  {% if not is_cli %}# {% endif -%}
  "typer >=0.15.0",
]

[project.optional-dependencies]
# optional_name = ["some_package >=1.0"]

[project.scripts]
{% if not is_cli -%}
# {% endif -%}
{{project_name}} = "{{package_name}}.cli:app"

[project.gui-scripts]


[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"


[tool.hatch]
version.source = "uv-dynamic-versioning"


[dependency-groups]
dev = [
   # commit tools
   "black{% if allow_jupyter %}[jupyter]{% endif %} ~=24.0",
   "blacken-docs ~=1.0",
   "dunamai ~=1.0",
   "pre-commit ~=4.0",
   "ruff ~=0.8.0",
#   # debug
#   "icecream",
#   "snoop",
#   "python-devtools",
#   "birdseye",
   # typing
   "mypy ~=1.0",
#   "pandas-stubs",
   # testing
   "pytest ~=8.0",
   "pytest-benchmark ~=5.0",
   "pytest-clarity ~=1.0",
#   "pytest-datadir ~=1.0",
   "pytest-cov ~=6.0",
#   "pytest-loguru ~=0.4.0",
   "pytest-pretty ~=1.0",
#   "pytest-regressions ~=2.0",
   "pytest-reverse ~=1.0",
   "pytest-xdist[psutil] ~=3.0",
#   "freezegun ~=1.0",
#   "hypothesis ~=6.0",
#   # ipython/jupyter
#   "ipython",
#   "jupyterlab",
#   "jupytext",
#   "matplotlib",
#   "hvplot",
#   "ipywidgets",
#   "python-lsp-server",
#   "jupyter-collaboration",
]


[tool.pytest.ini_options]
addopts = """\
  --doctest-modules \
  --cov={{package_name}} \
  --numprocesses auto \
  --reverse \
  --benchmark-disable \
"""


[tool.mypy]
mypy_path = "stubs"
packages = "{{package_name}}"
strict = true


[tool.ruff.format]
docstring-code-format = true


[tool.ruff.lint]
# Use google-style conventions for docstrings
pydocstyle.convention = "google"
select = [
  "ALL",
  # extend rules outside pydocstyle google convention
  "D401",  # pydocstyle/non-imperative-mood
  "D404",  # pydocstyle/docstring-starts-with-this
]
ignore = [
  # needed only in large codebases
  "TD002",    # flake8-todos/missing-todo-author
  "TD003",    # flake8-todos/missing-todo-link
  # incompatible with other rules
  "COM812",   # flake8-commas/missing-trailing-comma (incompatible with black)
  # disagree:
  "PD010",    # pandas-vet/pandas-use-of-dot-pivot-or-unstack
  "PD013",    # pandas-vet/pandas-use-of-dot-stack
  # annoying:
  "EM10",     # flake8-errmsg/*-in-exception
  "RET504",   # flake8-return/unnecessary-assign
  # ban something useful for a possibly good reason
  #"C901",     # mccabe/complex-structure
  #"S101",     # flake8-bandit/assert
  #"PD901",    # pandas-vet/pandas-df-variable-name
  #"FIX00",    # flake8-fixme/line-contains-*
  #"ERA001",   # eradicate/commented-out-code
  #"PLR091",   # PyLint-Refactor/too-many-*
  #"TRY003",   # tryceratops/raise-vanilla-args
]
# objects that should be treated equivalently to a logging.Logger object.
logger-objects = ["loguru.logger"]
# allow the omission of a return type hint for __init__
flake8-annotations.mypy-init-return = true
# allow `dict(a=1, b=2)`
flake8-comprehensions.allow-dict-calls-with-keyword-arguments = true

# flag modules or module members that may not be imported or accessed
[tool.ruff.lint.flake8-tidy-imports.banned-api]
"collections.namedtuple".msg = "Use typing.NamedTuple or @dataclasses.dataclass(frozen=True, slots=True)"

[tool.ruff.lint.per-file-ignores]
"{{package_name}}/cli.py" = [
  "T201",  # Print statement
]
"!tests/test_*.py" = [
  "PT",       # flake8-pytest-style
]
"tests/test_*.py" = [
  "INP001",   # flake8-no-pep420/implicit-namespace-package
  "PLR2004",  # PyLint-Refactor/magic-value-comparison
  "S101",     # flake8-bandit/assert
  "D1",       # pydocstyle/undocumented-*
  "ANN201",   # flake8-annotations/return-type
]


{% if ci == "poe" -%}
[tool.poe]
include = ["poe_tasks.toml"]
{%- endif %}
