[build-system]
{%- if get_package_version_from_vcs %}
requires = ["hatchling", "hatch-vcs"]
{%- else %}
requires = ["hatchling"]
{%- endif %}
build-backend = "hatchling.build"


[project]
dynamic = ["version"]
name = "{{ project_name }}"
description = "{{ package_description }}"
license = "{{ license }}"
license-files = ["LICEN[CS]E.*"]
readme = "README.md"
requires-python = ">=3.{{ python_minor }}"
authors = [
  {name = "{{ user_name }}", email = "{{ user_email }}"}
]
keywords = []
classifiers = [
  # TODO: remove when ready to upload to pypi
  "Private :: Do Not Upload",
  # TODO: choose more classifiers from the list in https://pypi.org/classifiers/
  # i.e.: Environment, Framework, Intended Audience, Topic
  # TODO: update the development status
  "Development Status :: 1 - Planning",
  # target os
  "Operating System :: OS Independent",
  # python versions
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
{%- if python_minor <= 9 %}
  "Programming Language :: Python :: 3.9",
{%- endif %}
{%- if python_minor <= 10 %}
  "Programming Language :: Python :: 3.10",
{%- endif %}
{%- if python_minor <= 11 %}
  "Programming Language :: Python :: 3.11",
{%- endif %}
{%- if python_minor <= 12 %}
  "Programming Language :: Python :: 3.12",
{%- endif %}
{%- if python_minor <= 13 %}
  "Programming Language :: Python :: 3.13",
{%- endif %}
{%- if python_minor <= 14 %}
  "Programming Language :: Python :: 3.14",
{%- endif %}
  "Typing :: Typed",
]
dependencies = [
  "loguru >=0",
  {% if not has_cli %}# {% endif -%}
  "typer >=0",
]

[project.optional-dependencies]
# optional_name = ["some_package >=1.0"]

[project.urls]
# homepage = "https://{{ project_name }}.readthedocs.io"
source = "https://github.com/{{ github_user }}/{{ project_name }}"
# changelog = "https://github.com/{{ github_user }}/{{ project_name }}/blob/master/CHANGELOG.md"
# releasenotes = "https://github.com/{{ github_user }}/{{ project_name }}/releases"
# documentation = "https://{{ project_name }}.readthedocs.io"
# issues = "https://github.com/{{ github_user }}/{{ project_name }}/issues"
# funding = "https://github.com/sponsors/{{ github_user }}"

[project.scripts]
{% if not has_cli -%}# {% endif -%}
{{ project_name }} = "{{ package_name }}.cli:app"

[project.gui-scripts]
# {{ project_name }} = "{{ package_name }}.gui:app.run"


[tool.uv]
required-version = "~=0.6.0"
default-groups = ["dev", "test", "typing"]


[dependency-groups]
dev = [
  "rust-just ~=1.0",
  "pre-commit ~=4.0",
  # code formatting/linting tools
  {#- TODO: add "sync-with-uv ~= ?", #}
  "sync-pre-commit-deps ~=0.0.3",
  "editorconfig-checker ~=3.0",
  "codespell ~=2.0",
  "mdformat ~=0.7.0",
  "doc8 ~=1.0",
  {%- if format_tool == 'black' %}
  "black{% if contains_jupyter_files %}[jupyter]{% endif %} ~=25.0",
  "blacken-docs ~=1.0",
  {%- endif %}
  "ruff ~=0.9.0",
  {%- if jupyter_files == "strip_outputs" %}
  "nbstripout ~=0.8.0",
  {%- endif %}
  "validate-pyproject[all,store] ~=0.23.0",
  "yamllint ~=1.0",
  "check-jsonschema ~=0.31.0",
  "shellcheck-py ~=0.10.0",
  ## debug
  # "icecream",
  # "snoop",
  ## ipython/jupyter
  # "ipython",
  # "jupyterlab",
  # "jupytext",
  # "matplotlib",
  # "hvplot",
  # "ipywidgets",
  # "python-lsp-server",
  # "jupyter-collaboration",
]
test = [
  "pytest ~=8.0",
  ## running
  "pytest-reverse ~=1.0",
  "pytest-xdist[psutil] ~=3.0",
  ## reporting
  "pytest-clarity ~=1.0",
  ## extras
  "pytest-benchmark ~=5.0",
  "pytest-cov ~=6.0",
  ## fixtures
  "pytest-mock ~=3.0",
  "pytest-loguru >=0",
  # "pytest-datadir ~=1.0",
  # "pytest-regressions ~=2.0",
  # "freezegun ~=1.0",
  # "hypothesis ~=6.0",
]
# docs = []
typing = [
  "mypy ~=1.15.0",
  # add "*-stubs" and "types-*" packages here (">=0")
]


[tool.hatch]
{%- if get_package_version_from_vcs %}
version.source = "vcs"
build.hooks.vcs.version-file = "src/{{ package_name }}/_version.py"
{%- else %}
version.path = "src/{{ package_name }}/__init__.py"
{%- endif %}


[tool.pytest.ini_options]
minversion = "7.0"
addopts = [
  ## testing
  "--doctest-modules",
  "--strict-markers",
  "--strict-config",
  ## reporting
  "-ra",
  ## addons
  "--benchmark-disable",  # pytest-benchmark
  "--cov=src/{{ package_name }}",  # pytest-cov
  "--reverse",  # pytest-reverse
  "--numprocesses=auto",  # pytest-xdist
]
xfail_strict = true
# CHECK those options:
filterwarnings = [
  "error",
  "default::DeprecationWarning",
  "error::DeprecationWarning:{{ package_name }}",
]
log_cli_level = "INFO"


[tool.coverage]
run.omit = [
  "src/{{ package_name }}/__main__.py",
{%- if get_package_version_from_vcs %}
  "src/{{ package_name }}/_version.py",
{%- endif %}
]


[tool.mypy]
files = ["src", "tests"]
mypy_path = "stubs"
# verify the config file
warn_unused_configs = true
# set the platform
python_version = "3.{{ python_minor }}"
# enable checks [last updated: mypy 1.15]
strict = true
disallow_any_explicit = true
disallow_any_unimported = true
warn_unreachable = true
#strict_bytes = true  # TODO: enable me when validate-pyproject updates
enable_error_code = [
  # from https://mypy.readthedocs.io/en/stable/error_code_list2.html
  "redundant-self",
  "deprecated",
  "redundant-expr",
  "possibly-undefined",
  "truthy-bool",
  "truthy-iterable",
  "ignore-without-code",
  "unused-awaitable",
  "explicit-override",
  "mutable-override",
  "unimported-reveal",
  "narrowed-type-not-subtype",
]


[tool.ruff.format]
docstring-code-format = true


[tool.ruff.lint]
# Use google-style conventions for docstrings
pydocstyle.convention = "google"
select = [
  "ALL",
  # extend rules outside pydocstyle google convention
  "D401",  # pydocstyle/non-imperative-mood
  "D404",  # pydocstyle/docstring-starts-with-this
]
ignore = [
  # needed only in large codebases
  "TD002",    # flake8-todos/missing-todo-author
  "TD003",    # flake8-todos/missing-todo-link
  # incompatible with other rules
  "COM812",   # flake8-commas/missing-trailing-comma (incompatible with black)
  # disagree:
  "PD010",    # pandas-vet/pandas-use-of-dot-pivot-or-unstack
  "PD013",    # pandas-vet/pandas-use-of-dot-stack
  # annoying:
  "EM10",     # flake8-errmsg/*-in-exception
  "RET504",   # flake8-return/unnecessary-assign
  # ban something useful for a possibly good reason
  #"C901",     # mccabe/complex-structure
  #"S101",     # flake8-bandit/assert
  #"PD901",    # pandas-vet/pandas-df-variable-name
  #"FIX00",    # flake8-fixme/line-contains-*
  #"ERA001",   # eradicate/commented-out-code
  #"PLR091",   # PyLint-Refactor/too-many-*
  #"TRY003",   # tryceratops/raise-vanilla-args
]
# objects that should be treated equivalently to a logging.Logger object.
logger-objects = ["loguru.logger"]
# allow the omission of a return type hint for __init__
flake8-annotations.mypy-init-return = true
# allow `dict(a=1, b=2)`
flake8-comprehensions.allow-dict-calls-with-keyword-arguments = true

# flag modules or module members that may not be imported or accessed
[tool.ruff.lint.flake8-tidy-imports.banned-api]
"collections.namedtuple".msg = "Use typing.NamedTuple or @dataclasses.dataclass(frozen=True, slots=True)"

[tool.ruff.lint.per-file-ignores]
"src/{{ package_name }}/cli.py" = [
  "T20",      # flake8-print
]
{%- if get_package_version_from_vcs %}
"src/{{ package_name }}/_version.py" = [
  "ALL",
]
{%- endif %}
"!tests/test_*.py" = [
  "PT",       # flake8-pytest-style
]
"tests/test_*.py" = [
  "INP001",   # flake8-no-pep420/implicit-namespace-package
  "PLR2004",  # PyLint-Refactor/magic-value-comparison
  "S101",     # flake8-bandit/assert
  "D1",       # pydocstyle/undocumented-*
]


[tool.pylint]
py-version = "3.{{ python_minor }}"
{%- if get_package_version_from_vcs %}
ignore-paths = [".*/_version.py"]
{%- endif %}
# CHECK those options:
reports.output-format = "colorized"
similarities.ignore-imports = "yes"
messages_control.disable = [
  "design",
  "fixme",
  "line-too-long",
  "missing-module-docstring",
  "missing-function-docstring",
  "wrong-import-position",
]
