# {{project_name}}

[![Actions Status][actions-badge]][actions-link]
[![Documentation Status][rtd-badge]][rtd-link]

[![PyPI version][pypi-version]][pypi-link]
[![Conda-Forge][conda-badge]][conda-link]
[![PyPI platforms][pypi-platforms]][pypi-link]

[![GitHub Discussion][github-discussions-badge]][github-discussions-link]

<!-- SPHINX-START -->

<!-- prettier-ignore-start -->
[actions-badge]:            https://github.com/{{username}}/{{project_name}}"/workflows/CI/badge.svg
[actions-link]:             https://github.com/{{username}}/{{project_name}}"/actions
[conda-badge]:              https://img.shields.io/conda/vn/conda-forge/{{project_name}}
[conda-link]:               https://github.com/conda-forge/{{project_name}}-feedstock
[github-discussions-badge]: https://img.shields.io/static/v1?label=Discussions&message=Ask&color=blue&logo=github
[github-discussions-link]:  https://github.com/{{username}}/{{project_name}}"/discussions
[pypi-link]:                https://pypi.org/project/{{project_name}}/
[pypi-platforms]:           https://img.shields.io/pypi/pyversions/{{project_name}}
[pypi-version]:             https://img.shields.io/pypi/v/{{project_name}}
[rtd-badge]:                https://readthedocs.org/projects/{{project_name}}/badge/?version=latest
[rtd-link]:                 https://{{project_name}}.readthedocs.io/en/latest/?badge=latest

<!-- prettier-ignore-end -->

## Usage

```
import {{package_name}}
```

## Development

- install git, python3.{{python_minor}}, uv.
- git clone this repo
- create a venv using `uv python pin python3.{{python_minor}}; uv sync`
- enable pre-commit checks with `uv run pre-commit install`

## Code formatting

{% if format_tool == "ruff" -%}
- use `uv run ruff format .` to format code and docs
{% elif format_tool == "black" -%}
- use `uv run black .` to format code
{% endif -%}
- use `git ls-files -z -- '*.md' '*.rst' '*.tex' '*.py' | xargs -0 blacken-docs`
  to format docs

## Code quality

- use `uv run ruff check .` to verify code quality
- use `uv run mypy` to verify check typing
- use `uv run pytest` to run tests

## Build

- run formatting, linting, and tests.
- use `uv run dunamai from git` to see the current version
- use `git tag -a vX.Y.Z -m "version vX.Y.Z" -e` to add a git tag
- use `uv build` to build
- push the tag with `git push origin tag vX.Y.Z`
