# {{ project_name }}

[![Tests][tests-badge]][tests-link]
[![Documentation Status][rtd-badge]][rtd-link]
[![uv][uv-badge]][uv-link]
[![Ruff][ruff-badge]][ruff-link]
{%- if format_tool == "black" %}
[![Black][black-badge]][black-link]
{%- endif %}

[![PyPI version][pypi-version]][pypi-link]
[![Conda-Forge][conda-badge]][conda-link]
[![PyPI platforms][pypi-platforms]][pypi-link]

[![Made Using tsvikas/python-template][template-badge]][template-link]
[![GitHub Discussion][github-discussions-badge]][github-discussions-link]
[![PRs Welcome][prs-welcome-badge]][prs-welcome-link]
[![Total downloads][pepy-badge]][pepy-link]

## Overview

## Usage

```
import {{ package_name }}
```

## Development

- install [git][install-git], [uv][install-uv].
- git clone this repo
- run `uv run just prepare`

### Code formatting

{% if format_tool == "ruff" -%}
- use `uv run ruff format .` to format code and docs
{% elif format_tool == "black" -%}
- use `uv run black .` to format code
{% endif -%}
- use
  `git ls-files -z -- '*.md' '*.rst' '*.tex' '*.py' | xargs -0 uv run blacken-docs`
  to format docs

### Code quality

- use `uv run ruff check .` to verify code quality
- use `uv run mypy` to verify check typing
- use `uv run pytest` to run tests

### Build

- run formatting, linting, and tests.
- optionally, use `uv run dunamai from git` to see the current version
{%- if not get_package_version_from_vcs %}
- replace the version in `src/{{ package_name }}/__init__.py`
- commit
{%- endif %}
- use
  `VER="vX.Y.Z" && git tag -a "$VER" -m "version $VER" -e && git push origin tag "$VER"`
- use `uv build` to build
{%- if not get_package_version_from_vcs %}
- add '+dev' to the version in `src/{{ package_name }}/__init__.py`
- commit
- push
{%- endif %}

{% if format_tool == "black" -%}
[black-badge]: https://img.shields.io/badge/code%20style-black-000000.svg
[black-link]: https://github.com/psf/black
{% endif -%}
[conda-badge]: https://img.shields.io/conda/vn/conda-forge/{{ project_name }}
[conda-link]: https://github.com/conda-forge/{{ project_name }}-feedstock
[github-discussions-badge]: https://img.shields.io/static/v1?label=Discussions&message=Ask&color=blue&logo=github
[github-discussions-link]: https://github.com/{{ github_user }}/{{ project_name }}/discussions
[install-git]: https://git-scm.com/book/en/v2/Getting-Started-Installing-Git
[install-uv]: https://docs.astral.sh/uv/getting-started/installation/
[pepy-badge]: https://static.pepy.tech/badge/{{ project_name }}
[pepy-link]: https://pepy.tech/project/{{ project_name }}
[prs-welcome-badge]: https://img.shields.io/badge/PRs-welcome-brightgreen.svg
[prs-welcome-link]: http://makeapullrequest.com
[pypi-link]: https://pypi.org/project/{{ project_name }}/
[pypi-platforms]: https://img.shields.io/pypi/pyversions/{{ project_name }}
[pypi-version]: https://img.shields.io/pypi/v/{{ project_name }}
[rtd-badge]: https://readthedocs.org/projects/{{ project_name }}/badge/?version=latest
[rtd-link]: https://{{ project_name }}.readthedocs.io/en/latest/?badge=latest
[ruff-badge]: https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json
[ruff-link]: https://github.com/astral-sh/ruff
[template-badge]: https://img.shields.io/badge/%F0%9F%9A%80_Made_Using-tsvikas%2Fpython--template-gold
[template-link]: https://github.com/tsvikas/python-template
[tests-badge]: https://github.com/{{ github_user }}/{{ project_name }}/actions/workflows/ci.yml/badge.svg
[tests-link]: https://github.com/{{ github_user }}/{{ project_name }}/actions/workflows/ci.yml
[uv-badge]: https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/uv/main/assets/badge/v0.json
[uv-link]: https://github.com/astral-sh/uv
