name: Lint with black/ruff

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      {%- if format_tool == "black" %}
      - uses: psf/black@stable
        with:
          jupyter: {{"true" if contains_jupyter_files else "false"}}
          version: "24.10.0"
      {%- endif %}
      - uses: astral-sh/ruff-action@v3
      {%- if format_tool == "ruff" %}
      - run: ruff format
      {%- endif %}
