name: Test on python prerelease

on: [push, pull_request]

jobs:
  build:
    name: continuous-integration
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: 3.14
      - name: Install the project
        run:
          uv sync --all-extras --group test --upgrade --resolution highest
          --prerelease allow
      - name: Run tests
        run: uv run pytest
