name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        resolution:
          - "--no-upgrade"
          - "--upgrade --resolution highest"
          - "--upgrade --resolution lowest-direct"
        python-version:
          {%- if python_minor <= 9 %}
          - "3.9"
          {%- endif %}
          {%- if python_minor <= 10 %}
          - "3.10"
          {%- endif %}
          {%- if python_minor <= 11 %}
          - "3.11"
          {%- endif %}
          {%- if python_minor <= 12 %}
          - "3.12"
          {%- endif %}
          {%- if python_minor <= 13 %}
          - "3.13"
          {%- endif %}
        allow-failure: [false]
        include:
          resolution: "--upgrade --resolution highest --prerelease allow"
          python-version: "3.14"
          allow-failure: true
    continue-on-error: {% raw %}${{ matrix.allow-failure }}{% endraw %}
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
      - name: Install the project
        run:
          uv sync --all-extras --group test
          {% raw %}${{ matrix.resolution }}{% endraw %}
      - name: Run tests
        run: uv run pytest
